<img src='images/mainLogo.svg' id='logo' alt=''>
<img src='images/emojiGroupIcons.svg' id='logoIcons' alt=''>
<div id="containerForAdminHistory" class="blueBorder container">
    <div class="row userPostRow">
        <span class="rowPostDateLabel">4/20/16</span>
        <img src="./images/happyEmoji.svg" class="historyRowEmoji" alt="">
    </div>
    <div class="row userPostRow">
        <span class="rowPostDateLabel">4/21/16</span>
        <img src="./images/sadEmoji.svg" class="historyRowEmoji" alt="">
    </div>
    <div class="row userPostRow">
        <span class="rowPostDateLabel">4/23/16</span>
        <img src="./images/happyEmoji.svg" class="historyRowEmoji" alt="">
    </div>
</div>

{{!--back button--}}
<button type="button" class="backButton ">Back</button>
{{!--emoji credit--}}
<img src="images/emojiCredit.svg" id="emojiCredit" alt="">