<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!--Custom Css--}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!--Bootstrap Css--}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {{!-- Google Fonts--}}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    
       <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->


            <div class="navbar-header">
                <ul><a class="navbar-brand" href="#" style="color:white">Mood Tracker 3000 </a></ul>
            </div>
            <img class="emojiGroup" src="emojiGroupIcons.svg"/>


            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="color:white">Dashboard</a></li>
                <li><a href="#" style="color:white">History</a></li>
                <li><a href="#" style="color:white">Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav> 

      {{{body}}}
 
  </body>
  {{!--JQuery--}}
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  {{!--Bootstrap JS--}}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
