<img src='images/mainLogo.svg' id='logo' alt=''>
<img src='images/emojiGroupIcons.svg' id='logoIcons' alt=''>
<span id="inDepthEntryLabel" class="purpleText">Entry</span>
<form action="" method="post" id="userMoodForm">
    <textarea type="text" id="userHistoryMoodInput" class="blueBorder" cols="50" rows="10" placeholder="Today, I stepped in dog poop, but at the end of the day I wont the lottery!!!!"></textarea>
    <button type="button" class="backButton blueBorder">Back</button>
</form>
<span id="emojiMoodLabel" class="pinkText">Mood</span>
<img src="images/happyEmoji.svg" class="emojiForUserInDepthReview" alt="">
<img src="images/emojiCredit.svg" id="emojiCredit" alt="">