<img src='images/mainLogo.svg' id='logo' alt=''>
<img src='images/emojiGroupIcons.svg' id='logoIcons' alt=''>
<span class='purpleText' id='tmLabel'>HOW ARE YOU THO ??</span>
{{!--Emojis for user to select--}}
<img src="images/happyEmoji.svg" id="happyEmoji" class="userEntryEmoji" alt="">
<span class="purpleText" id="happyLabel">Happy</span>
<img src="images/sadEmoji.svg" id="sadEmoji" class="userEntryEmoji" alt="">
<span class="purpleText" id="sadLabel">Not So Happy</span>
<span id="clickOneInstructions">Click One</span>
{{!--user entry form--}}
<form action="" method="post" id="userMoodForm">
    <textarea type="text" id="userMoodInput" cols="50" rows="10"></textarea>
    <button type="button" class="backButton blueBorder">Back</button>
    <button type="submit" id="submitFeelings" class="blueBorder">Submit</button>
</form>


{{!--emoji credit--}}
<img src="images/emojiCredit.svg" id="emojiCredit" alt="">
