<img src='images/emojiGroupIcons.svg' id='logoIcons' alt=''>
<button id="tellMeButton">Tell Me How You're Feeling</button>
<button id="userHistoryButton">Let's see how you've been doing</button>
<img src="images/emojiCredit.svg" id="emojiCredit" alt="">