body {
  padding: 50px;
  font: 14px;
  font-family: 'Slabo 27px', serif;
}

a {
  color: #00B7FF;
}

#mainContainer{
  background-image: url('../images/RectangleBackground.svg');
  height: 1024px;
  width: 768px;
  margin: auto;
  position: relative;
  font-family: 'Slabo 27px', serif;
}

#logo{
  position: absolute;
  width: 398px;
  left: 22.97px;
  top: 15.09px;
  font-family: 'Slabo 27px', serif;
}

#logoIcons{
  position: absolute;
  width: 460.8px;
  height: 115.59px;
  left: 134.33px;
  top: 238px;
  font-family: 'Slabo 27px', serif;
}

.purpleText{
  color: #A700FF;
  text-shadow: white -1px -1px;
  font-family: 'Slabo 27px', serif;
}

#loginText{
  position: absolute;
  font-size: 47px;
  font-family: 'Slabo 27px', serif;
  top: 395px;
  left:22.86px;
}

.pinkText{
  color: #FF00EB;
  text-shadow: white -1px -1px;
  font-family: 'Slabo 27px', serif;
}

#userNameLabel{
  font-size: 47px;
  position: absolute;
  top: 459px;
  left: 270.86px;
  font-family: 'Slabo 27px', serif;
}

.loginInput{
  width: 431.48px;
  height: 75.76px;
  position: absolute;
  left: 193.35px;
  top: 553.81px;
  border: 7px solid #40B2FF;
  border-radius: 10px;
  text-align: center;
  color: grey;
  font-size: 37px;
  font-family: 'Slabo 27px', serif;
}

#passwordNameLabel{
  position: absolute;
  font-size: 47px;
  top: 661px;
  left: 270.86px;
  font-family: 'Slabo 27px', serif;
}

#passwordNameInput{
  position: absolute;
  top: 727.81px;
  left: 193.35px;
  font-family: 'Slabo 27px', serif;
}

.pinkSubmitButton{
  position: absolute;
  width: 220.61px;
  height: 77.83px;
  left: 462.22px;
  top: 901.51px;
  border: 7px solid #40B2FF;
  background-color: #FF00EB;
  color: white;
  font-size: 29px;
  text-align: center;
  border-radius: 10px;
  font-family: 'Slabo 27px', serif;
}

#emojiCredit{
  position: absolute;
  top: 1000px;
  left: 533px;
  width: 222px;
  height: 14px;
  font-family: 'Slabo 27px', serif;
}

#tellMeButton{
  position: absolute;
  width: 343.78px;
  height: 93.89px;
  top: 464.91px;
  left: 103.22px;
  background-color: #FF00EB;
  color: white;
  border: 7px solid #40B2FF;
  font-size: 25px;
  border-radius: 10px;
  font-family: 'Slabo 27px', serif;
}

#userHistoryButton{
  position: absolute;
  width: 413.78px;
  height: 93.89px;
  left: 326.22px;
  top: 640.91px;
  background-color: #A700FF;
  border: 7px solid #40B2FF;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  font-family: 'Slabo 27px', serif;
}

#tmLabel{
  position: absolute;
  width: 594px;
  height: 62px;
  left: 86.5px;
  top: 450.5px;
  font-size: 55px;
  font-family: 'Slabo 27px', serif;
}

    #happyEmoji {
            height: 20px;
            margin-top: 12.5px;
    }

    #sadEmoji {
            height: 20px;
            margin-top: 12.5px;
    }    

.userEntryEmoji{
  height: 116.68px;
  width: 98.36px;
  font-family: 'Slabo 27px', serif;
}

#happyLabel{
  width: 42px;
  height: 16px;
  position: absolute;
  left: 212.88px;
  top: 673.55px;
  font-size: 14px;
  font-family: 'Slabo 27px', serif;
}

#sadLabel{
  width: 100px;
  height: 16px;
  position: absolute;
  left: 406.11px;
  top: 673.55px;
  font-size: 14px;
  font-family: 'Slabo 27px', serif;
}

#clickOneInstructions{
  width: 87px;
  height: 23px;
  position: absolute;
  left: 535.56px;
  top: 587.96px;
  color: #95989A;
  font-size: 19px;
  font-family: 'Slabo 27px', serif;
}

#userMoodInput{
  width: 431.48px;
  height: 168.76px;
  position: absolute;
  top: 710.81px;
  left: 163.35px;
  border: 7px solid #40B2FF;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  word-wrap: break-word;
  font-family: 'Slabo 27px', serif;
}

.blueBorder{
  border: 7px solid #40B2FF;
  border-radius: 10px;
  font-family: 'Slabo 27px', serif;
}

.backButton{
  width: 153.59px;
  height: 47.66px;
  position: absolute;
  left: 86.22px;
  top: 919.51px;
  background-color: #F50000;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Slabo 27px', serif;
}

#submitFeelings{
  width: 146.59px;
  height: 40.66px;
  position: absolute;
  left: 522.72px;
  top: 923.01px;
  background-color: #00F584;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

#inDepthEntryLabel{
  font-size: 47px;
  width: 142px;
  height: 53px;
  position: absolute;
  left: 133.86px;
  top: 397px;
  font-family: 'Slabo 27px', serif;
}

#userHistoryMoodInput{
  width: 431.48px;
  height: 168.76px;
  position: absolute;
  top: 487.81px;
  left: 134.35px;
  font-size: 20px;
  color: #95989A;
  font-family: 'Slabo 27px', serif;
}

.emojiForUserInDepthReview{
  height: 98.36px;
  width: 116.68px;
  position: absolute;
  left: 467.91px;
  top: 756.68px;
  font-family: 'Slabo 27px', serif;
}

#emojiMoodLabel{
  width: 94px;
  height: 43px;
  position: absolute;
  left: 470.5px;
  top: 699.5px;
  font-size: 39px;
  font-family: 'Slabo 27px', serif;
}

#containerForPostHistory{
  width: 424.48px;
  height: 258px;
  position: absolute;
  left: 153px;
  top: 412.31px;
  background-color: white;
  overflow: auto;
  font-family: 'Slabo 27px', serif;
}

.userPostRow{
  height: 70px;
  position: relative;
  border: 1px solid #95989A;
  border-radius: 10px;
  margin-bottom: 17px;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

.rowPostDateLabel{
  font-size: 20px;
  width: 74px;
  height: 23px;
  color: #95989A;
  top: 19px;
  left: 90px;
  position: absolute;
  font-family: 'Slabo 27px', serif;
}

.historyRowEmoji{
  width: 52px;
  height: 46px;
  position: absolute;
  top: 11px;
  right: 75px;
  font-family: 'Slabo 27px', serif;

}

#d3Placeholder{
  width: 282px;
  height: 195px;
  position: absolute;
  left: 218px;
  top: 695px;
  font-family: 'Slabo 27px', serif;
}

#containerForAdminHistory{
  width: 431px;
  height: 521px;
  position: absolute;
  left: 150px;
  top: 410px;
  overflow: auto;
  font-family: 'Slabo 27px', serif;
}

 h1 {
        font-family: 'Francois One', sans-serif;
        letter-spacing: 2.5px;
        color: #0073e5;
        font-size: 68px;
    }

.emojiGroup {
            height: 20px;
            margin-top: 12.5px;
    }

  .navbar{
        background-color: #0073e5; 
        font-family: 'Francois One', sans-serif;
    }
    #edit, #delete {
        background-color: rgba(255, 0, 101, 0.75);
        color: white;
    }   

           #blogPost {
            background-color: rgba(167, 0, 255, 0.75);
            color: white;
            position: relative;
            left: 200px;
            border-radius: 2.5px;
        }

        #summaryButton {
            background-color: #FF00EB;
            color: white;
            position: relative;
            left: 200px;
        }


        h3 {
            font-weight: bold;
        }

         #submit {
        background-color: rgba(255, 0, 101, 0.75);
        color: white;
    }
        form, #registerUser {
            position: relative;
            left: 200px;
        }