body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mainContainer{
  background-image: url('../images/RectangleBackground.svg');
  height: 1024px;
  width: 768px;
  margin: auto;
}
