<img src='images/mainLogo.svg' id='logo' alt=''>
<img src='images/emojiGroupIcons.svg' id='logoIcons' alt=''>
<span class='purpleText' id='loginText'>Log In</span>
<form action='/handleLogIn' method='post'>
    <span class='pinkText' id='userNameLabel'>Username</span>
    <input type="text" class="loginInput" id="userNameInput">
    <span class='pinkText' id='passwordNameLabel'>Password</span>
    <input type="password" class="loginInput" id="passwordNameInput">
    <button type="submit" class="pinkSubmitButton">Submit</button>
</form>
<img src="images/emojiCredit.svg" id="emojiCredit" alt="">