<img src='images/mainLogo.svg' id='logo' alt=''>
<img src='images/emojiGroupIcons.svg' id='logoIcons' alt=''>
<span class='purpleText' id='tmLabel'>HOW ARE YOU THO ??</span>
<img src="images/happyEmoji.svg" id="happyEmoji" class="userEntryEmoji" alt="">
<span id="happyLabel">Happy</span>
<img src="images/sadEmoji.svg" id="sadEmoji" class="userEntryEmoji" alt="">
<span id="sadLabel">Sad</span>
{{!--emoji credit--}}
<img src="images/emojiCredit.svg" id="emojiCredit" alt="">
